.student {}
.student__container {}
.student__resume-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.student__resume-text {
  display: flex;
  flex-direction: column;
}
.student__resume-title {
  margin: 0;
  padding-top: 66px
  ;
  max-width: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: left;

  letter-spacing: -0.04em;

  color: #000000;
}
.student__resume-subtitle {
  margin: 0;
  padding-top: 18px;

  max-width: 600px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-align: left;


  color: #000000;

  mix-blend-mode: normal;
}
.student__resume-paragraph {
  margin: 0;
  padding-top: 26px;
  max-width: 550px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: left;


  color: #000000;

  mix-blend-mode: normal;
}
.student__resume-link {
  margin: 0;
  padding-top: 99px;
  text-decoration: none;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: left;


  color: #000000;
}
.student__resume-photo {
  margin-top: 66px;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  
  background-image: url('../../image/portfolio-photo_my.jpeg');
  background-position: center;
  background-size: cover;
}

.student__portfolio-list {
  list-style-type: none;
  margin: 0;
  padding: 100px 0 0 0;


  width: 100%;
}

.student__portfolio-title {
  margin: 0;
  padding: 0 0 32px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  /* identical to box height, or 111% */


  color: #A0A0A0;

  mix-blend-mode: normal;
}

.student__portfolio-item {
  width: 100%;
  height: 89px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: #E8E8E8 1px solid;
}

.student__portfolio-item:last-child {
  border: none;
}


.student__portfolio-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  /* identical to box height, or 167% */

  letter-spacing: -0.04em;

  color: #000000;
}
.student__portfolio-icon {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  /* identical to box height, or 200% */

  letter-spacing: -0.04em;

  color: #000000;
}

@media screen and (max-width: 768px) {
.student__resume-paragraph {
    max-width: 450px;
  }
}

@media screen and (max-width: 768px) {

  .student__resume-title {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
  }

  .student__resume-subtitle {

    padding-top: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  .student__resume-paragraph {
    padding-right: 49px;
    padding-top: 20px;
    max-width: 320px;

    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

  }

  .student__resume-photo {
    height: 307px;
    width: 255px;
  }

  .student__portfolio-title {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 50px;
  }
  .student__resume-link {
    padding-top: 87px;
  }

  .student__portfolio-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }

  .student__portfolio-link {
    font-weight: 400;
    font-size: 28px;
    line-height: 50px;
  }

  .student__portfolio-list {
    padding-top: 90px;
  }

  .student__portfolio-item {
    height: 88px;
  }
}
@media screen and (max-width: 580px) {

  .student {
    padding: 81px 14px 72px 14px;
  }

  .student__resume-container {
    flex-direction: column-reverse;
  }

  .student__resume-photo {
    align-self: center;
    margin-top: 58px;
    width: 292px;
    height: 352px;
  }

  .student__resume-title {
    padding-top: 41px;


    font-size: 30px;
    line-height: 36px;
  }

  .student__resume-subtitle {
    padding-top: 20px;

    font-size: 11px;
    line-height: 16px;
  }

  .student__resume-paragraph {
    padding-right: 0;
    font-size: 11px;
    line-height: 16px;
  }
  .student__resume-link {
    padding-top: 40px;
  }

  .student__portfolio-list {
    padding-top: 70px;
  }

  .student__portfolio-title {
    padding-bottom: 21px;
    font-size: 14px;
    line-height: 20px;
  }

  .student__portfolio-link {
    font-size: 18px;
    line-height: 28px;
  }

  .student__portfolio-icon {
    width: 18px;
    height: 28px;

    font-size: 18px;
    line-height: 28px;
  }

  .student__portfolio-item {
    height: 67px;
  }
}
