.movies-list {
  padding-top: 80px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  border-top: solid 1px rgba(0,0,0,.3);
  margin: 0 70px;

  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, 364px);
  grid-template-rows: auto;
  justify-content: left;
  gap: 24px;
  row-gap: 20px;
}

.movies-list__container {
  display: flex;
  flex-direction: column;
  padding-bottom: 182px;
}

.movies-list__button {
  align-self: center;
  /* margin-top: 45px;
  margin-bottom: 76px; */
  margin-top: 78px;
  margin-bottom: -82px;

  width: 320px;
  height: 36px;
  background-color: rgba(0,0,0,0);
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: #000000;
}
.movies-list__button_off {
  visibility: hidden;
  display: none; 
}

@media screen and (max-width: 768px) {

  .movies-list {
    grid-template-columns: repeat(auto-fit, 364px);
    gap: 30px;
    margin: 0 30px;
  }
  
}

@media screen and (max-width: 420px) {

  .movies-list {
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 8px;
    padding: 50px 10px 0 10px;

    margin: 0 14px;
  }

  .movies-list__button {
    margin-top: 70px;
    width: 240px;
    height: 36px;
  }

}
