.search {
  margin: 0;
  padding: 60px 70px 70px 70px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.search__area {
  margin: 0;

  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  border-radius: 40px;
  background-color: #f9f9f9;
}
.search__input {
  padding-left: 22px;
  margin-right: -68px;
  width: 100%;
  height: 46px;

  border: none;
  border-radius: 40px;
  background-color: #f9f9f9;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;

  color: #a0a0a0;
}

.search__span {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;

  color: #eb4040;
}

.search__button {
  cursor: pointer;
  margin-right: 6px;
  width: 60px;
  height: 34px;
  border: none;
  border-radius: 40px;
  background-color: #3456f3;

  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.search__option-container {
  margin: 0;
  padding-top: 42px;
  display: flex;
  flex-direction: row;
}
.search__option-button {
  cursor: pointer;
  width: 36px;
  height: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../../image/smalltumb_active.svg');
  background-position: center;
}

.search__option-button_off {
  cursor: pointer;
  width: 36px;
  height: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-image: url('../../image/smalltumb_off.svg');
}

.search__option-span {
  margin: 0;
  padding-left: 12px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .search {
    padding: 80px 30px 50px 30px;
  }
}

@media screen and (max-width: 320px) {
  .search {
    padding: 80px 15px 50px 15px;
  }

  .search__input {
    margin-right: -80px;
  }

  .search__option-span {
    font-size: 11px;
    line-height: 18px;
    padding-left: 12px;
    padding-right: 0;
  }
  .search__button {
    margin-right: 3px;
    width: 77px;
  }
}
